.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #476ebc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 100px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  border-radius: 50px;
  border: none;
  background-color: #61fb7a;
  width: 22%;
  height: 60px;
  color: aliceblue;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 30px;
}

.button:active {
  background-color: #48be5c;
}

.title {
  font-size: 300%;
}
